<launch>
<arg name="robot1" value="pszemek"/>
<param name="robot_description" command="$(find xacro)/xacro.py $(find anro1)/urdf/car.urdf.xacro robotname:=$(arg robot1)" />
 
  <node pkg="anro1" name="someName1" type="MapOfCity"/>
  
  <node pkg="anro1" name="someName2" type="nodesAndRoutes"/>
  <node pkg="robot_state_publisher" name="robot_state_publisher"  type="state_publisher" />

  <node pkg="rviz" name="someName0" type="rviz" args="-d $(find anro1)/default.rviz" required="true"/>

  <node pkg="anro1" name="someName3" type="Model"/>

</launch>
