<launch>

  <node pkg="anro1" name="someName0" type="listener">
  </node>
  <node pkg="anro1" name="someName1" type="MapOfCity">
  </node>
  <node pkg="anro1" name="someName2" type="turnsTalker">
  </node>
  <node pkg="anro1" name="antekmiszcz" type="Car">
  </node>
  <node pkg="anro1" name="someName3" type="Model">
  </node>
  <node pkg="rviz" name="someName4" type="rviz">
  </node>
</launch>
